.sidebar{
    transition: transform 0.3s;
}

.sidebar a{
        display: block;
        text-decoration: none;
        color: aliceblue; 
        padding: 10px 0 10px 10px;
    }
@media (max-width: 992px){

    .sidebar{
        position: fixed;
        transform: translateX(-100%);
        z-index: 1;
    }

    .sidebar a:hover{
        background-color: #4A4947;

    }

    .sidebar.show{
        transform: translateX(0);
    }

}


.add-to-cart-btn {
    font-size: 16px;
    background-color: #4A4947;
    color: #FAF7F0;
    padding: 4px 10px;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
}

.add-to-cart-btn:hover {
    background-color: #4A4947;
    transform: scale(1.09);
}

.camera-digital {
    width: 200px;
    height: 150px; 
}

.fone-ouvido {
    width: 170px;
    height: 250px;
}

.product-body {
    justify-content: space-between;
    padding: 10px;
    color: #4A4947;
}

.product-old-price {
    color: #B17457;
}

.product-description {
    color: #8D493A;
}

.btn-primary {
    background-color: #4A4947;
    color: #FAF7F0;
}

.btn-secondary {
    background-color: #777672;
    color: #FAF7F0;
}